<div class="home-page page" dir="ltr">
    <div class="row pt-4">
        <div class="col-auto">
            <cool-btn @click="goBack" class="mt-4" button-text="Back"></cool-btn>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-auto">
            <library-item v-if="currentLibraryItem"
                          :library-item="currentLibraryItem"
            >
                <span class="minutes">{{ currentLibraryItem.type }}</span>
            </library-item>

        </div>
    </div>
</div>
