<div class="home-page page" dir="ltr">
    <div class="row pt-4">
        <div class="offset-3 col-auto">
            <div class="input-group rounded mb-3">
                <input type="text" class="form-control rounded" placeholder="search..." aria-label="search"
                       aria-describedby="search-addon"
                       v-model="searchQuery"
                       @input="onSearch"
                >
                <span class="input-group-text border-0" id="search-addon">
                    <i class="fas fa-search"></i>
                </span>
            </div>
            <cool-btn @click="refreshView" class="mt-4" button-text="Refresh"></cool-btn>
            <cool-btn @click="clearView" class="mt-4" button-text="Clear"></cool-btn>
            <cool-btn @click="sort" class="mt-4" button-text="Sort"></cool-btn>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-3">
            <grouped-list :list="groupedList" @item-clicked="onGroupedItemClicked"></grouped-list>
            <cool-btn @click="changeView" class="mt-4" button-text="Change View"></cool-btn>
        </div>
        <div class="col-9">
            <list-view v-if="isListView" :list="filteredLibraryList"
                       @on-library-item-clicked="onLibraryItemClicked"
                       @update-item-title="updateItemTitle"
            >
            </list-view>
            <grid-view v-else :list="filteredLibraryList"
                       @on-library-item-clicked="onLibraryItemClicked"
                       @update-item-title="updateItemTitle"
            >
            </grid-view>
        </div>
    </div>
</div>
